
<div class="min-h-screen flex items-center justify-center bg-gray-50">
      <div class="max-w-md w-full text-center p-8">
        <h1 class="text-6xl font-bold text-indigo-600"></h1>
        <p class="text-2xl mt-4 text-gray-800">Unexpected error</p>
        <p class="mt-4 mb-3 text-gray-600">
          An unexpected error occurred. Please refresh the page or try again later.
        </p>
        <a routerLink="/home" 
           class="inline-block py-3 btn-primary">
          Go to home page
        </a>
      </div>
    </div>
